<div class="row announcement-list">
  
    {% for Ad in Ads -%}
      <div class="col-md-4 col-sm-6 announcement">
          <a href="{{ Ad.DetailPageUrl }}">
            {% for Attribute in Ad.Attributes -%}
              {% if Attribute.Key == 'AdImage' -%}
                {{ Attribute.Value }}
              {% endif -%}
            {% endfor -%}
          </a>
          <h2 class="announcement-title">{{ Ad.Title }}</h2>
          <p class="announcement-text">
            {% for Attribute in Ad.Attributes -%}
              {% if Attribute.Key == 'AdText' -%}
                {{ Attribute.Value }}
              {% endif -%}
            {% endfor -%}
          </p>
          <p>
            <a class="view-details btn btn-default" href="{{ Ad.DetailPageUrl }}" role="button">View details »</a>
          </p>
        </div>
        {% capture breakNow %}{{ forloop.index | Modulo:3 }}{% endcapture %}
        {% if breakNow == 0 -%}
          </div>
          <div class="row announcement-list">
        {% endif -%}

  {% endfor -%}
</div>