{% if page.display-child-pages == 'true' and page.pages != empty %}
    <ul class="nav nav-stacked navbar-side">
		{% for childPage in page.pages %}
            {% if childPage.current == 'true' %}
				<li class="current">
			{% else %}
				<li>
			{% endif %}
				<a href="{{ childPage.url }}"><i class="{{ childPage.icon-css-class }}"></i> <span>{{ childPage.title }}</span></a>

				{% if childPage.display-child-pages == 'true' and childPage.pages != empty %}
                    <ul class="nav nav-childpages">
                        {% for grandchildPage in childPage.pages %}
                            <li class="header">{{ grandchildPage.title }}</li>
                            {% if grandchildPage.display-child-pages == 'true' %}
                                {% for greatgrandchildPage in grandchildPage.pages %}
                                    <li>
                                        <a role="menu-item" href="{{ greatgrandchildPage.url }}">{{ greatgrandchildPage.title }}</a>
                                    </li>
                                {% endfor %}
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% endif %}