<div class="rss-item">
	<h1>{{Feed.Title}}</h1>
	<h2>{{SelectedItem.Title}}</h2>
	<div class="byline">
		{% if SelectedItem.Authors != empty -%}
			{{SelectedItem.Authors[0].Name}}
		{% endif -%}
		{% if SelectedItem.PublishDate == '1/1/0000 12:00:00 AM' -%}
			{{SelectedItem.LastUpdatedTime}}
		{% else -%}
			{{SelectedItem.PublishDate}}
		{% endif -%}		
	</div>
	<br />
	<div class="rss-item-content">
		{{SelectedItem.Content}}
	</div>
	
	<ul class="rss-item-pager">
		{% if PreviousItem -%}
			<li class="previous">
				<a href="{{PreviousItem.DetailPageUrl}}" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Previous</a>
			</li>
		{% endif -%}
		{% if NextItem -%}
			<li class="next">
				<a href="{{NextItem.DetailPageUrl}}" class="btn btn-default">Next <i class="fa fa-angle-double-right"></i> </a>
			</li>		
		{% endif -%}
	</ul>
</div>